<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wrapped Ether</title>
</head>
<body>
    <main id="main">
        <div v-if="account">
            <div>
                <dl>
                    <dt>Your Account</dt>
                    <dd v-text="account"></dd>
                    <td>ETH Balance</td>
                    <dd>{{ ethBalance | toEther }}</dd>
                    <td>WETH Balance</td>
                    <dd>{{ wethBalance | toEther }}</dd>
                </dl>
            </div>
            <div>
                <p>Deposit</p>
                <input type="number" v-model="depositValue">
                <button v-on:click="deposit">Execute</button>
            </div>
            <div>
                <p>Withdraw</p>
                <input type="number" v-model="withdrawValue">
                <button v-on:click="withdraw">Execute</button>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>